# environment
.env
.env.*
!.env.example

# dependencies
node_modules

# build output
dist
tmp
out-tsc
*.tsbuildinfo

# editor files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.project
.classpath
.settings/

# misc
.coverage
coverage
.cache
.local
.sass-cache
connect.lock
npm-debug.log
yarn-error.log
testem.log
libpeerconnection.log

# system files
.DS_Store
Thumbs.db

# Replit / Cursor
.cursor/
.replit
